// ブレイクポイントを指定
$pc: 1024px;
$tb: 950px;
$ts: 600px;
$sp: 500px;
$ss: 330px;

//全ページ共通
@mixin pc{
    @media(max-width:($pc)){
        @content;
    }
}

@mixin tb{
    @media(max-width:($tb)){
        @content;
    }
}

@mixin ts{
    @media(max-width:($ts)){
        @content;
    }
}

@mixin sp{
    @media(max-width:($sp)){
        @content;
    }
}

@mixin ss{
    @media(max-width:($ss)){
        @content;
    }
}
